html {
  font-size: 14px;
  background-color: #97B6D1;
}

h1 { 
  background-color: #97B6D1;
  color: #373F00;
  
}

h4 { 
    color: #373F00;
    
}
.text-center {
    position: center;
    margin-left: 151px;
    margin-right: 151px;
    text-align: center;
    
}
.text-center2 {
    position: center;
    
}
footer {
    text-align: right; 
    background-color: #97B6D1;
    color: #373F00;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #97B6D1;
    
}

.logo { 
    position: absolute;
    left: 20px;
    top: 60px;
}


.row {
    content: "";
    clear: both;
    display: table;
}

.column { 
    float: left;
    width: 33.33%;
    padding: 5px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }



.fa-instagram {
    background: #4B0082;
    color: white;
    width: 60px;
    height: 60px;
}