html {
  font-size: 14px;
  background-color: #97B6D1;
}

h1 { 
  background-color: #97B6D1;
  color: #373F00;
  
}

p {
    color: #373F00;
}

h4 { 
    color: #373F00;
}

.text-center {
    position: center;
    margin-left: 151px;
    margin-right: 151px;
    text-align: center;
    
}
.text-center2 {
    position: center;
    
}
header {
    background-color: #97B6D1;
    color: #373F00;
}
footer {
    text-align: right; 
    background-color: #97B6D1;
    color: #373F00;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #97B6D1;
    
}

.logo { 
    position: absolute;
    left: 20px;
    top: 60px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    align-items: flex-end;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.CaptionText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }
.fa-instagram {
    background: #4B0082;
    color: white;
    width: 60px;
    height: 60px;
}

button {
    background-color: red;
    border-radius: 5px;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    border-radius: 4px;
    width: 250px;
    transition: all 0.5s;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    font-size: 17px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

    button:hover span {
        padding-right: 25px;
    }

        button:hover span:after {
            opacity: 1;
            right: 0;
        }

.button {
    color: #FFFFFF
}

.t-text {
    text-align: left;
    margin-left: 100px
}

.t-text-l {
    float: left;
    width: 33.33%
}

.t-text-c {
    float: none;
    width: 33.33%
}

.t-text-r {
    float: right;
    width: 33.33%
}

.t-text:after {
    content: "";
    display: table;
    clear: both;
}

.i-text {
    float: right;
    width: 40.00%;
    text-align: left;
}

input {
    border-radius: 5px;
    border: 4px solid red;
}

textarea {
    border-radius: 5px;
    border: 4px solid red;
}

.form{
    width: 1000px;
    position: center;
    text-align: left;
    padding-left: 350px;
}

.CaptionText{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}