@{
    ViewData["Title"] = "Contact - GaiaZOO";
}

<div class="text-center">
    <a asp-action="Index">
        <img class="logo" src="https://i.postimg.cc/7PWPp3Cr/Logo.png"
             width="122" height="151" />
    </a>
    <form action="www.localhost:5086/contact" method="post">

        <p>Naam:</p>
        <p><input type="text" name="naam" value=""></p>

        <p>Email:</p>
        <p><input type="email" name="email" value=""></p>

        <p>Telefoon nummer:</p>
        <p><input name="telefoon_nummer"></p>

        <p>Toevoeging: </p>
        <p><textarea name="toevoeging" rows="8" cols="40"></textarea></p>

        <p>Bent u een:</p>
        <p><input type="radio" name="areyou" value="man"> Man</p>
        <p><input type="radio" name="areyou" value="vrouw"> Vrouw</p>
        <p><input type="radio" name="areyou" value="hermaphrodite"> Hermafrodiet</p>
        <p><input type="radio" name="areyou" value="asexual"> Asexual</p>
        <p><input type="radio" name="areyou" value="zeg_ik_liever_niet"> Zeg ik liever niet </p>

        <p><input type="Submit"></p>
    </form>

</div>
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <a href="https://www.instagram.com/gaiazoo_kerkrade/" class="fa fa-instagram"></a>
</footer>
