@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>

    <p>
        Breng nu een bezoek aan ons, en beleef een geweldig uitje voor iederer leeftijd. Kom oog in oog met vele diersoorten uit verschillende gebieden en zie hoe hun soorteigen gedrag eigenlijk is.
    </p>

    <img class = "logo" scr="Pictures/Logo.png" 
    width = "90" height = "60"/>

    <div class="text-center">
        <img scr="Pictures/Front.jpg"
        width="1080" height="640"
    </div>
</div>