@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>

    <img scr="Pictures/Logo.png" 
    width = "120" height = "90" left="-300"/>

    <p>
        Breng nu een bezoek aan ons, en beleef een geweldig uitje voor iederer leeftijd. Kom oog in oog met vele diersoorten uit verschillende gebieden en zie hoe hun soorteigen gedrag eigenlijk is.
    </p>
</div>
