@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Informatie</h1>
    <p>  </p>
    <img src = "https://i.postimg.cc/hjFTbXmH/Gaia-zoo-plattegrond.jpg" />
</div> 
