@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is supposed to be a information page but for now you will be greeted by a smile</h1>
    <p>  :) </p>

</div>
