@{
    ViewData["Title"] = "Informatie - GaiaZOO";
}

<div class="text-center">
    <a asp-action="Index">
        <img class="logo" src="https://i.postimg.cc/7PWPp3Cr/Logo.png"
             width="122" height="151" />
    </a>
    <h1 class="display-4">Informatie</h1>
    <img src = "https://i.postimg.cc/hjFTbXmH/Gaia-zoo-plattegrond.jpg" style="float: left; margin-bottom:100px"/>
    <div class="i-text">
        <br /><br /><br /><br /><p>Hiernaast staat de plattegrond van onze dierentuin.</p><br /><br />
        <p>Ons bezoekersadres is:<br />Gaiaboulevard 1<br />6468 PH<br />Kerkrade</p><br />
        <p>Ons postadres is:<br />Postbus 68<br />6460 AB<br />Kerkrade</p>
    </div>
</div> 
