@{
    ViewData["Title"] = "Species - GaiaZOO";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>
    <a asp-action="Index">
        <img class="logo" src="https://i.postimg.cc/7PWPp3Cr/Logo.png"
             width="122" height="151" />
    </a>
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="numbertext">1 / 11</div>
            <img src="https://i.postimg.cc/6pwrF21w/slang.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                Slangen (Serpentes) zijn een groep van aan hagedissen verwante reptielen die behoren tot de orde schubreptielen (Squamata). Alle soorten worden gekenmerkt door een naar verhouding zeer lang en dun lichaam en het ontbreken van ledematen. Slangen zijn duidelijk te onderscheiden van alle andere dieren en de meeste andere reptielen als krokodilachtigen, schildpadden en brughagedissen. Met sommige groepen van hagedissen is het onderscheid echter niet zo duidelijk.
                
                Er zijn ongeveer 3950 verschillende soorten slangen beschreven, waarvan ongeveer 15% giftig is. Slangen bewegen zich altijd voort op de buik en de huid is geheel bedekt met schubben. Andere typische kenmerken zijn het ontbreken van beweegbare oogleden en de aangepaste gepaarde organen als de longen en de nieren.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 11</div>
            <img src="https://i.postimg.cc/zGSyZLZw/hagedis.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                Hagedissen (Lacertilia) vormen een onderorde van de schubreptielen (Squamata), die meer dan 7100 soorten telt. Hagedissen zijn daardoor de grootste groep van alle moderne reptielen. Ze zijn ontstaan in het Trias, maar goede fossielen zijn pas bekend uit het Jura. De slangen ontstonden in het Krijt uit een groep van de hagedissen. Hoewel slangen dus evolutionair gezien tot de hagedissen behoren, worden ze hier verder niet behandeld vanwege de afwijkende fysiologie en levenswijze.

                Hagedissen blijven meestal klein, de meeste soorten worden inclusief staart niet groter dan 50 centimeter en slechts weinig soorten bereiken een lengte van meer dan één meter. De meeste hagedissen zijn groen tot bruin van kleur en hebben een afgeplat lichaam met een duidelijk te onderscheiden kop en staart en vier goed ontwikkelde poten. Een aantal groepen heeft echter een cilindrisch lichaam en gedegenereerde poten, enkele soorten hebben alleen voorpoten en een aantal groepen is geheel pootloos, dergelijke hagedissen kunnen gemakkelijk met slangen worden verward.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 11</div>
            <img src="https://i.postimg.cc/vZjNymrB/dwerghghana.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De dwerggans (Anser erythropus) is een vogel uit de familie van de eendachtigen (Anatidae).

                Hij lijkt sterk op de kolgans (Anser albifrons), maar is iets dikker en de kop is ook iets ronder. Een volwassen vogel heeft een opvallende gele oogring en een roze snavel. De lichaamslengte van het mannetje bedraagt 65 cm, die van het vrouwtje 53 cm. De jongen van deze vogel zijn makkelijk te verwarren met de jongen van de kolgans.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 11</div>
            <img src="https://i.postimg.cc/C5k8QSGz/Zwartkop-wevervogel.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De zwartkopwever (Ploceus melanocephalus) is een zangvogel uit de familie Ploceidae (wevers en verwanten). De vogel komt voor in Sub-Saharisch Afrika.

                De vogel is gemiddeld 14 cm lang en weegt 17 tot 25 g, de vrouwtjes zijn gemiddeld 2,5 g lichter. Het mannetje in broedkleed heeft een roetzwarte kop en daaronder een smalle, gele kraag. De mantel en rug zijn groengeel, de borst, buik, flanken en stuit zijn geel. Bij de ondersoorten P. m. dimidiatus en P. m. fischeri in Oost-Afrika is de onderkant okerkleurig tot kastanjebruin. De snavel en de iris zijn donker. Het vrouwtje en het mannetje buiten de broedtijd zijn overwegend olijfgroen tot geel, van boven donker gestreept en van onder lichtgeel. De bovensnavel is donker.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 11</div>
            <img src="https://i.postimg.cc/Kz7qtrdk/bergeend.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De bergeend (Tadorna tadorna) is een halfgans, een eendachtige watervogel die qua formaat tussen een gans en een eend in zit. De wetenschappelijke naam van de soort werd in 1758 als Anas tadorna gepubliceerd door Carl Linnaeus.

                Een verklaring voor de naam "bergeend" is dat de eend haar eieren verbergt. De bergeend legt haar eieren in konijnenholen en andere holtes in de grond.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 11</div>
            <img src="https://i.postimg.cc/4dGw4HmJ/blauwe-ekster.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De blauwe ekster (Cyanopica cooki; synoniem: Cyanopica cyanus) is een vogel uit de familie van de kraaiachtigen (Corvidae). De vogel werd in 1850 als aparte soort naast de Aziatische blauwe ekster. (C. cyanus) door de Franse vogelkundige Charles Lucien Bonaparte beschreven. Deze soort wordt soms nog beschouwd als een ondersoort van de Aziatische blauwe ekster.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 11</div>
            <img src="https://i.postimg.cc/c1rXcnPb/Olifant.jpg" style="width:100%" height="600">
            <div class="CaptionText">Olifanten komen verspreid voor in Afrika ten zuiden van de Sahara en in het zuiden en zuidoosten van Azië. Zij zijn de enige nog levende soorten van de slurfdieren, uitgestorven zijn onder andere de mammoeten en mastodonten. Olifanten zijn de grootste levende landdieren. De mannelijke Afrikaanse olifanten kunnen een hoogte van 4 m en een massa van 7000 kg bereiken. Deze dieren hebben verschillende onderscheidende kenmerken, zoals een slurf die wordt gebruikt voor vele doeleinden, met name voor het grijpen van voorwerpen. Hun snijtanden groeien uit tot slagtanden en dienen als hulpmiddelen voor het verplaatsen van objecten, het graven en als wapen tijdens gevechten. De grote oorflappen van de olifant worden gebruikt om de temperatuur van het lichaam te beheersen. Afrikaanse olifanten hebben grotere oren en een holle rug, terwijl Aziatische olifanten kleinere oren hebben een bolle of rechte rug.</div>
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 11</div>
            <img src="https://i.postimg.cc/pdWp22Rw/leeuw.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De leeuw (Panthera leo) is een roofdier dat behoort tot de brulkatten uit de familie der katachtigen (Felidae). Van alle katachtigen is enkel de tijger groter. De grootte en de manen van het mannetje geven het dier een imposant uiterlijk, waardoor de leeuw in grote delen van de wereld bekendstaat als de koning der dieren. In Europa heeft hij deze rol overigens pas in de loop van de middeleeuwen overgenomen van de bruine beer.

                De leeuw is vaak onderwerp van folklore en symboliek geweest. Zo staat de leeuw afgebeeld in de wapens van verscheidene landen, streken en steden, waaronder Nederland, België en Sri Lanka.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 11</div>
            <img src="https://i.postimg.cc/QtB1cpVg/Tijger.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De tijger (Panthera tigris) is een zoogdier dat tot de familie der katachtigen (Felidae) behoort, en een van de vier 'grote katten' die tot het geslacht Panthera behoren. Tijgers zijn jagende roofdieren.

                De meeste tijgers wonen in het bos (waarvoor hun camouflagestrepen geschikt zijn) en in grasland. Het zijn goede zwemmers; tijgers kunnen vaak badend in vijvers, meren en rivieren worden aangetroffen.
            </div>
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 11</div>
            <img src="https://i.postimg.cc/SQ2f9pM0/rode-panda.jpg" style="width:100%" height="600">
            <div class="CaptionText">De kleine panda, rode panda of katbeer (Ailurus fulgens) is een bedreigde diersoort die in het oosten van het Himalayagebergte en in het zuidwesten van China leeft. Net zoals de reuzenpanda eet hij bamboe. De kleine panda is geen beer, maar behoort tot de superfamilie Musteloidea en de familie katberen (Ailuridae) waarvan het de enige nog levende soort is. De kleine panda is nauwer verwant aan wasberen dan aan beren.</div>
        </div>

        <div class="mySlides">
            <div class="numbertext">11 / 11</div>
            <img src="https://i.postimg.cc/1XCKKWMt/Capybara.jpg" style="width:100%" height="600">
            <div class="CaptionText">
                De capibara is de grootste levende knaagdierensoort en weegt gewoonlijk tussen de 35 en 66 kilogram. De zwaarste exemplaren wogen 91 kg (een vrouwelijk exemplaar in Brazilië) en 73,5 kg (mannelijk, Uruguay). Ze worden circa 1,2 meter lang en hebben een schofthoogte van ongeveer 60 centimeter. Capibara's zijn zwaargebouwd met korte stevige poten, hoefachtige klauwen en een rudimentaire staart. De tenen zijn gedeeltelijk verbonden door zwemvliezen en de neusgaten, ogen en oren staan boven op de kop, zodat het dier ook tijdens het zwemmen kan ruiken, zien en horen. De vacht is licht tot donker geelbruin of grijsbruin.
            </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</div>
