@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>

    <p> 
        In onze dierentuin zijn vele dieren te vinden, en hier hebben we ze allemaal voor u staan: 
    </p>
    <div>
        <p>
            Ratelslang
            <img src="https://i.postimg.cc/6pwrF21w/slang.jpg" />
        </p>
        <p>
            Hagedis
            <img src="https://i.postimg.cc/zGSyZLZw/hagedis.jpg" />
        </p>
        <p>
            Dwerggans
            <img src="https://i.postimg.cc/vZjNymrB/dwerghghana.jpg" />
        </p>
        <p>
            Zwartkop wevervogel
            <img src="https://i.postimg.cc/C5k8QSGz/Zwartkop-wevervogel.jpg" />
        </p>
        <p>
            Bergeend
            <img src="https://i.postimg.cc/Kz7qtrdk/bergeend.jpg" />
        </p>
        <p>
            Blauwe ekster
            <img src="https://i.postimg.cc/4dGw4HmJ/blauwe-ekster.jpg" />
        </p>
        <p>
            Olifant
            <img src="https://i.postimg.cc/c1rXcnPb/Olifant.jpg" />
        </p>
        <p>
            Afrikaanse leeuw
            <img src="https://i.postimg.cc/pdWp22Rw/leeuw.jpg" />
        </p>
        <p>
            Tijger
            <img src="https://i.postimg.cc/QtB1cpVg/Tijger.jpg" />
        </p>
        <p>
            Rode panda
            <img src="https://i.postimg.cc/SQ2f9pM0/rode-panda.jpg" />
        </p>
        <p>
            Capybara
            <img src="https://i.postimg.cc/1XCKKWMt/Capybara.jpg" />
        </p>
    </div>
</div>
