@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>
    <p> 
        In onze dierentuin zijn vele dieren te vinden, en hier hebben we ze allemaal voor u staan: 
    </p>
    <div>
        <p>
            Ratelslang
        </p>
        <p>
            Hagedis
        </p>
        <p>
            Dwerggans
        </p>
        <p>
            Zwartkop wevervogel
        </p>
        <p>
            Bergeend
        </p>
        <p>
            Blauwe ekster
        </p>
        <p>
            Olifant
        </p>
        <p>
            Afrikaanse leeuw
        </p>
        <p>
            Tijger
        </p>
        <p>
            Rode panda
        </p>
        <p>
            Capybara
        </p>
    </div>
</div>
