@{
    ViewData["Title"] = "Species - GaiaZOO";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>
    <a asp-action="Index">
        <img class="logo" src="https://i.postimg.cc/7PWPp3Cr/Logo.png"
             width="122" height="151" />
    </a>
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="numbertext">1 / 11</div>
            <img src="https://i.postimg.cc/6pwrF21w/slang.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 11</div>
            <img src="https://i.postimg.cc/zGSyZLZw/hagedis.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 11</div>
            <img src="https://i.postimg.cc/vZjNymrB/dwerghghana.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 11</div>
            <img src="https://i.postimg.cc/C5k8QSGz/Zwartkop-wevervogel.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 11</div>
            <img src="https://i.postimg.cc/Kz7qtrdk/bergeend.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 11</div>
            <img src="https://i.postimg.cc/4dGw4HmJ/blauwe-ekster.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 11</div>
            <img src="https://i.postimg.cc/c1rXcnPb/Olifant.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 11</div>
            <img src="https://i.postimg.cc/pdWp22Rw/leeuw.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 11</div>
            <img src="https://i.postimg.cc/QtB1cpVg/Tijger.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 11</div>
            <img src="https://i.postimg.cc/SQ2f9pM0/rode-panda.jpg" style="width:100%" height="600">
        </div>

        <div class="mySlides">
            <div class="numbertext">11 / 11</div>
            <img src="https://i.postimg.cc/1XCKKWMt/Capybara.jpg" style="width:100%" height="600">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
</div>
