@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>
    //ratelslang, hagedis, dwerggans, zwartkop wevervogel, bergeend, blauwe ekster, olifant, Afrikaanse leeuw, Tijger, rode panda, capibara

</div>
