@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GaiaZOO</h1>

    <div class="row">
        <div class="column">
            Slang
            <img src="https://i.postimg.cc/6pwrF21w/slang.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Hagedis
            <img src="https://i.postimg.cc/zGSyZLZw/hagedis.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Dwerggans
            <img src="https://i.postimg.cc/vZjNymrB/dwerghghana.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Zwartkop wevervogel
            <img src="https://i.postimg.cc/C5k8QSGz/Zwartkop-wevervogel.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Bergeend
            <img src="https://i.postimg.cc/Kz7qtrdk/bergeend.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Ekster
            <img src="https://i.postimg.cc/4dGw4HmJ/blauwe-ekster.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Olifant
            <img src="https://i.postimg.cc/c1rXcnPb/Olifant.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Leeuw
            <img src="https://i.postimg.cc/pdWp22Rw/leeuw.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Tijger
            <img src="https://i.postimg.cc/QtB1cpVg/Tijger.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Rode Panda
            <img src="https://i.postimg.cc/SQ2f9pM0/rode-panda.jpg" width="266" height="266" />
        </div>
    </div>

    <div class="row">
        <div class="column">
            Capybara
            <img src="https://i.postimg.cc/1XCKKWMt/Capybara.jpg" width="266" height="266" />
        </div>
    </div> 
</div>
