@{
    ViewData["Title"] = "Tickets - GaiaZOO";
}

<div class="text-center">
    <a asp-action="Index">
        <img class="logo" src="https://i.postimg.cc/7PWPp3Cr/Logo.png"
             width="122" height="151" />
    </a>
    <h1 class="display-4"><strong>Tickets</strong></h1>
    <h4>Bestel hier je tickets voor een dagje naar GaiaZOO</h4>
    <button style="vertical-align:middle">
        <strong>
            <span>
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Tickets1persoon">1 persoons ticket</a>
            </span>
        </strong>
    </button>
    <button style="vertical-align:middle">
        <strong>
            <span>
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ticketsfamiliedagkaart">Familie dagkaart</a>
            </span>
        </strong>
    </button>
    <button style="vertical-align:middle">
        <strong>
            <span>
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Ticketsgroteregroepen">Grotere groepen</a>
            </span>
        </strong>
    </button>
    <br /><br /><br />
    <p>Hieronder vind je de prijzen van de tickets</p>
    <div class="t-text">    
        <div class="t-text-l"><p>1 persoonsticket*:</p> </div>
        <div class="t-text-c"></div>
        <div class="t-text-r"><p>€24,00 p.p.</div>
    </div>
    <p class="t-text"><br /><br />*Kinderen van 3 tot 9 jaar en 65+ volwassenen mogen voor €19,50 een ticket. Kinderen onder de 3 jaar mogen gratis.</p>
    <p>Betalen? U kan dat hier doen via Banano!</p>
    <img src="https://i.postimg.cc/qgfGj3yX/frame.png" width="200" height="250" />
</div>
